@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

code,
pre {
  font-family: "Roboto Mono", "Source Code Pro", monospace;
}

code {
  padding-left: 2px;
  padding-right: 2px;
}

.katex {
  padding-left: 3px;
  padding-right: 3px;
}
